# The art of data mimicry
Mimic original distributions: by random grabbing from all previous values

In [92]:
import pandas as pd

# Generate faker for 4 different clusters

# Variables from development set
df_numeric_raw = pd.read_csv('../../RA_Clustering/new_data/5_clustering/df_lab_raw.csv', sep=',')[['Leuko', 'MCH', 'Hb', 'Ht', 'MCHC',  'MCV', 'Trom', 'BSE', 'Lym', 'Mono']] #, 'Age' 
df_categoric_raw= pd.read_csv('../example_data/development/ClusteringDEV_CATEGORICAL.csv', sep=',')

## Strategy: random grab & pollute
ToDo: generating the original distribution for each cluster is probably more efficient?

In [ ]:
import numpy as np

N_PAT = 100

### # Numeric

In [121]:
df_dummy_num = pd.DataFrame()

for col in df_numeric_raw.columns: 
    max_deviation = df_numeric_raw[col].std()/2
    noise = np.random.uniform(low=-max_deviation, high=max_deviation, size=N_PAT)
    noise_2 = np.random.uniform(low=-max_deviation, high=max_deviation, size=N_PAT)
    
    # Grab random existing value
    val = np.random.choice(df_numeric_raw[col].values, N_PAT)
    
    # Add noise to value 
    df_dummy_num[col] = np.round(np.abs(val + noise + noise_2), 3)

# export
df_dummy_num.to_csv(r'../dummy_data/NumericalModality_dummy.csv', sep=';', index=False)
df_dummy_num.head()

    Leuko    MCH     Hb     Ht    MCHC     MCV     Trom     BSE    Lym   Mono
0  10.110  1.761  8.616  0.455  20.333  83.433  357.387   9.099  1.508  0.744
1   4.667  2.122  7.132  0.430  20.317  96.969  367.816  28.896  1.556  0.817
2  10.788  1.937  6.098  0.438  21.602  97.082  323.965  23.202  1.952  0.635
3  22.789  1.876  7.720  0.426  19.839  94.585  188.338  12.686  1.587  0.737
4   6.677  1.847  8.091  0.413  19.642  95.817  344.521  50.300  2.268  0.767

### # Categoric

In [122]:
df_dummy_cat = pd.DataFrame()

# df_categoric_raw.columns[1:] #
l_cat_cols = [col for col in df_categoric_raw.columns if ('_positive' in col or col in ['Sex', 'RF', 'aCCP']) ]

for col in l_cat_cols: 
    val = np.random.choice([0,1], N_PAT, p=[round(len(df_categoric_raw[df_categoric_raw[col]==0])/len(df_categoric_raw),2), round(len(df_categoric_raw[df_categoric_raw[col]==1])/len(df_categoric_raw),2)])
    
    # Add value to df dummy 
    df_dummy_cat[col] = val
    
    # add negative version
    if 'positive' in col:
        df_dummy_cat[col.split('_positive')[0] + '_negative'] = np.abs(1 - val)

# export
df_dummy_cat.to_csv(r'../dummy_data/CategoricalModality_dummy.csv', sep=';', index=False)
df_dummy_cat.head()

,Zwelling_Elleboog L_positive,Zwelling_Elleboog L_negative,Zwelling_IP links_positive,Zwelling_IP links_negative,Zwelling_IP rechts_positive,Zwelling_IP rechts_negative,Zwelling_IP voet links_positive,Zwelling_IP voet links_negative,Zwelling_IP voet rechts_positive,Zwelling_IP voet rechts_negative,...,Pijn_tarsometatarsaal L_negative,Pijn_tarsometatarsaal R_positive,Pijn_tarsometatarsaal R_negative,Pijn_temporomandibulair L_positive,Pijn_temporomandibulair L_negative,Pijn_temporomandibulair R_positive,Pijn_temporomandibulair R_negative,RF,aCCP,Sex
0,0,1,0,1,0,1,0,1,0,1,...,1,0,1,0,1,0,1,0,1,0
1,0,1,0,1,0,1,0,1,0,1,...,1,0,1,0,1,0,1,1,0,1
2,0,1,0,1,0,1,0,1,0,1,...,1,0,1,0,1,0,1,1,1,1
3,0,1,0,1,0,1,0,1,0,1,...,1,0,1,0,1,0,1,1,1,1
4,0,1,0,1,0,1,0,1,0,1,...,1,0,1,0,1,1,0,0,1,1

In [120]:
set(df_categoric_raw.columns) - set(df_dummy_cat.columns)

{'pseudoId'}

In [84]:
[col for col in df_categoric_raw.columns if '_positive' in col]

Leuko      8.215
MCH        1.830
Hb         8.300
Ht         0.408
MCHC      20.300
MCV       90.000
Trom     296.000
BSE       28.000
Lym        1.740
Mono       0.630
dtype: float64

In [87]:
df_dummy.median()

Leuko      7.4940
MCH        1.8285
Hb         8.3150
Ht         0.3990
MCHC      20.2875
MCV       89.8780
Trom     290.4235
BSE       23.1980
Lym        1.6995
Mono       0.5900
dtype: float64